.what-is{
    padding: 90px;
    background-color: #040c18;
}
.container{
    background: linear-gradient(to top left, #1157a2 5%, #042c54 30%);
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.upper-part{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
}
.left-upper-part {
    display: grid;
    align-items: start;
}
hr{
    width: 40px;
    background-image: -webkit-gradient(linear, left top, right top, from(#ae67fa), to(#eeaf61));
    background-image: linear-gradient(90deg, #ae67fa, #e3806e);
    border: none;
    height: 4px;
    margin: 0;
    margin-right: auto;
}
.left-upper-part p{
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}
.right-upper-part {
    color: #5d95d1; 
    line-height: 1.5em;
    font-size: 0.9em;
}

.middle-part{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 30px 0;
}
.middle-part h3{
        font-size: 2.4em;
        line-height: 1.2em;
        font-weight: bold;
        background: linear-gradient(90deg, #ae67fa, #e3806e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.middle-part p{
    color: #e3806e;
    text-align: right;
    cursor: pointer;
}

.bottom-part{
    display: grid;
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the minimum size as needed */
    gap: 70px;
}
.bottom-part h4{
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 20px;
}
.bottom-part p{
    color: #5d95d1; 
    line-height: 1.5em;
    font-size: 0.9em;
}

.future{
    background-color: #040c18;
    padding: 30px 90px;
}
.future-container{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 60px;
}
.left-part-future h3{
    font-size: 2.2em;
    line-height: 1.2em;
    font-weight: bold;
    background: linear-gradient(90deg, #ae67fa, #e3806e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left-part-future p{
    margin-top: 40px;
    color: #e3806e;
}
.desc{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
.left-part-desc p{
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 20px;
    text-align: left;
    width: 200px;
}
.right-desc{
    color: #5d95d1;
    font-size: 0.9sem;
    line-height: 1.3em;
    width: 350px;
}





@media screen and (max-width: 1100px){
    .future-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 850px) {
    .bottom-part{
        grid-template-columns: 1fr;
    }
    .upper-part{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .what-is{
        padding: 60px;
    }
    .future{
        padding: 20px 60px;
    }

}
@media screen and (max-width: 720px) {
    .middle-part{
        grid-template-columns: 1fr;
        align-items: start;
        gap: 20px;
    }
    .middle-part p{
        text-align: left;
    }
    .what-is{
        padding: 40px;
    }
    .future{
        padding: 30px 40px;
    }
    .left-part-desc p{
        width: 100%;
    }
    .right-desc{
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .what-is p{
        font-size: 0.9em;
    }
    .what-is h3{
        font-size: 1.9em;
    }
    .middle-part{
        margin: 20px 0;
    }
    .left-part-future h3{
        font-size: 1.8em;
    }
    .desc{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .left-part-desc p{
        font-size: 1em;
    }
    .right-desc{
        font-size: 0.8em;
    }

}



